

<div class="container mat-elevation-z5">
  <h1>How to rental</h1>
  <p>Online order not accepted yet, please contact us directly through <a [routerLink]="['/contact']" routerLinkActive="router-link-active" ><b>here</b>.</a></p>

  <br>
  <h1>Pick up the tool</h1>
  <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Issaquah&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">full width google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>

  <br>
  <h1>We can also deliver!</h1>
</div>
