.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  max-width: 40px;
}

.title {
  font-family: fantasy;
  color: black;
  font-size: 24pt;
  margin-left: 5pt;
}
