<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="title-small" routerLink="item" matRipple>Weekend Warrior</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="(isHandset$ | async); else elseBlock">
        <a mat-list-item *ngFor="let navLink of navLinks" routerLink="{{navLink.routerName}}" (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">{{navLink.icon}}</mat-icon>
          <span class="nav-item">{{navLink.name}}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a mat-list-item *ngFor="let navLink of navLinks" routerLink="{{navLink.routerName}}">
          <mat-icon aria-label="Side nav toggle icon">{{navLink.icon}}</mat-icon>
          <span class="nav-item">{{navLink.name}}</span>
        </a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon [ngStyle]="{'color':'black'}" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ng-container class="float_center" >
        <img src="assets/ww-logo.svg" class="logo">
        <div class="title" routerLink="item" matRipple>Tool rental</div>
      </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
